<div class="container-fluid">
 <div class="row">
  <div class="panel-body">
   <%= form_for(marca , validate: true) do |f| %>
    <% if marca.errors.any? %>
        <div class="alert alert-danger text-center">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong><%= pluralize(marca.errors.count, "error: ") %></strong>
            <% marca.errors.full_messages.each do |message| %>
                <%= message %>
            <% end %>
        </div>
    <% end %>

    <div class="form-group">
     <%= f.text_field :name, autofocus: true, placeholder: "Nombre", class: "form-control" %>
    </div>

    <div style="text-align: center;">
      <%= f.submit "Aceptar", class: "btn btn-success" %>
    </div> 
   <% end %>
  </div>
 </div>
</div>