<div class="container-fluid">
 <div class="row">
  <div class="panel-body">
   <%= form_for(recordatorio , validate: true) do |f| %>
    <% if recordatorio.errors.any? %>
        <div class="alert alert-danger text-center">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong><%= pluralize(recordatorio.errors.count, "error: ") %></strong>
            <% recordatorio.errors.full_messages.each do |message| %>
                <%= message %>
            <% end %>
        </div>
    <% end %>

    <div class="form-group">
     <%= f.text_field :name, autofocus: true, placeholder: "Asunto", class: "form-control" %>
    </div>

    <div class="form-group">
     <%= f.text_field :texto, autofocus: true, placeholder: "Mensaje", class: "form-control" %>
    </div>
    <%= f.submit "Aceptar", class: "btn btn-success" %>
   <% end %>
  </div>
 </div>
</div>