<p id="notice"><%= notice %></p>
<h2>Recordatorio selecionado:</h2><br>
  <p>
    <strong>Asunto:</strong>
    <%= @recordatorio.name %>
  </p>

  <p>
    <strong>Texto:</strong>
    <%= @recordatorio.texto %>
  </p>
  br>
<%= link_to 'Volver', recordatorios_path, class:"btn btn-default"%>
<%= link_to 'Editar', edit_recordatorio_path(@recordatorio), class:" btn btn-info" %>