<div class="container">
  <div class="row">
    <div class="panel-body">
      <%= form_with(model: item, local: true) do |form| %>
        <% if item.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

            <ul>
            <% item.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        
        <div class="col-sm-10 col-sm-offset-1">
          <div class="col-lg-12 form-group">
            <%= form.text_field :description, id: :item_description, class: "form-control", placeholder: "Nombre de Artículo" %>
          </div>
          <div class="col-lg-6 form-group">
            <%= form.text_field :code, id: :item_code, class: "form-control", placeholder: "Código" %>
          </div>
          <div class="col-lg-6 form-group">
            <%= form.text_field :marca, id: "item_marca", class: "form-control" , placeholder: "Marca" %>
            <div style="display: none">
              <%= form.text_field :marca_id, id: "item_marca_id" %>
            </div>
            <div style="display: none">
              <%= form.text_field :marca_name, id: "item_marca_name" %>
            </div>
          </div>
          

          <div class="col-lg-6 form-group">
            <%= form.collection_select :unit_id, @units, :id, :name, 
              {selected: @item.unit_id, include_blank: 'Seleccione Unidad de medida'},
              {class: "form-control"} %>
          </div>
          <div class="col-lg-6 form-group">
            <%= form.collection_select :category_id, @categories, :id, :name, 
              {selected: @item.category_id, include_blank: 'Seleccione Categoria'},
              {class: "form-control"} %>
          </div>
          <div class="form-group col-lg-4">
            <%= form.number_field :stock, id: :item_stock, class: "form-control", placeholder: "Stock Total" %>
          </div>

          <div class="form-group col-lg-4">
            <%= form.number_field :min_stock, id: :item_min_stock, class: "form-control", placeholder: "Stock Mínimo" %>
          </div>
          

          <div class="form-group col-lg-4">
            <%= form.text_field :price, id: :item_price, class: "form-control", placeholder: "Precio" %>
          </div>            
        <br>

        <div class="actions col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5">
          <%= form.submit class: "btn btn-success", value: "Cargar Articulo" %>
        </div>  
      </div>
      <% end %>
    </div>
  </div>
</div>