<div class="container-fluid">
  <div class="row">
    <div class="panel-body">
      <%= form_for(category , validate: true) do |f| %>
        <% if category.errors.any? %>
          <div class="alert alert-danger text-center">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong><%= pluralize(category.errors.count, "error: ") %></strong>
            <% category.errors.full_messages.each do |message| %>
              <%= message %>
            <% end %>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.text_field :name, autofocus: true, placeholder: "Nombre", class: "form-control" %>
        </div>
        <div style="text-align: center;">
          <%= f.submit "Aceptar", class: "btn btn-success" %>
        </div>
        
      <% end %>
    </div>
  </div>
</div>