<nav class="navbar navbar-default sidebar" role="navigation">
 <div class="container-fluid">
  <div class="navbar-header">
   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
   <span class="sr-only">Toggle navigation</span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
  </button> 
 </div>
 <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
  <ul class="nav navbar-nav">
   <li class="<%= current_page?(root_path) ? "active" : "" %>">
    <a href="<%= root_path %>">
     Inicio
     <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-blackboard"></span>
    </a>
   </li> 
 
   <li >
    <a href="<%= sales_path %>">
     Ventas
     <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-shopping-cart"></span>
    </a>
   </li> 
 
   <li >
    <a href= "<%= recordatorios_path %>">
     Recordatorios
     <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span>
    </a>
   </li>

   <li >
    <a href="<%= items_path%>" > 
    Inventario 
     <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span>
    </a>
    
   </li>

    <li >
      <a href="<%= customers_path%>" > 
      Clientes 
       <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span>
      </a>
    </li>
    <li >
      <a href="<%= categories_path%>" > 
      Categorías 
       <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-bookmark"></span>
      </a>
    </li>
    <li >
      <a href="<%= marcas_path%>" > 
      Marcas 
       <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span>
      </a>
    </li>
    <li >
      <a href="<%= units_path%>" > 
      Unidades 
       <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span>
      </a>
    </li>
    <li >
      <a href="<%= towns_path%>" > 
      Ciudades 
       <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-map-marker"></span>
      </a>
    </li>
  </ul>
 </div>
 </div>
</nav>